<title>Ruppishへの思い | Ruppish【ラピッシュ】</title>
<div class="b_50"></div>
<div class="article_ruppish_root_over center-block bo_rad_3">
    <div class="article_ruppish_root center-block">
        <div class="b_50"></div>
        <div class="b_bottom">Ruppishへの思い</div>
        <div class="b_bottom f_size_15">
        Ruppish製作責任者の寒河江より送ります。
        
        <div class="b_50"></div>
        <div class="b_bottom">
            きっかけ
            集客力を前提としない作品が評価される場所がない。
        </div>
        <div class="b_50"></div>

        <div class="f_size_15">
        メンターエンジニアの「ターミナルで、いちいちコマンドを入力するのがめんどくさいから自分で使いやすくするプログラムを作った」という一言でした。
        
        メンターのその困ったことは私も過去に経験しており非常に共感したのですが、
        メンターが製作したその作品は一度も目にしたことがありませんでした。
        
        それ以来、私は、個人やもちろん企業でも製作された本当に便利な機能が集客の難度の高さに埋もれてしまっていると考えるようになりました。
        
        埋もれる原因は、ITバブル以降のネット情報の過剰な増加であったり、集客力のなさであったり様々です。集客力やマンパワーという前提を取っ払って、作品そのものの価値が評価される場所があればみんな喜ぶのではないか。そんなことを思いつつ作成したのが「Ruppish」です。
        </div>
        
        <div class="b_50"></div>
        <div class="b_bottom">
        これから
        「誰にも知られない」人々の生活を豊かにするサービスをなくす。
        </div>
        <div class="b_50"></div>

        <div class="f_size_15">
        誰が作るかに関係なく、作品そのものの需要が認められれば広く人々に伝えられるサービスにしたいと夢を見ています。自分の作品に正当な評価・フィードバックを与えてくれる「Ruppish」に投稿したい、あるいは評価・フィードバックを受けて次のステージへ進む人が、こういった方を増やして行きます。そして、全体のエンジニアの技術が向上し、彼らが作ったサービスが人々の生活をより良いものにしていく。
        結果的に、社会全体がテクノロジーを元に進化して行きます。その源泉となる場所を「Ruppish」にします。
        </div>
        
        <div class="b_50"></div>
    </div>
</div>
</div>
<div class="b_50"></div>