<title>Ruby on Railsチュートリアル学習マッチングサイト</title>
<div class="b_50"></div>
<div class="page_index_over center-block">
    <div class="page_index_title1 center-block">サイトについて</div>
    <div class="di_inline_t page_index_left_content1">
        <div class="b_50"></div>
        <div class="page_index_left_content1_main">
            目的
        </div>
        本サイトはテストマーケティング専用のサイトです。
        現在、<%= link_to "Railsチュートリアル", "https://railstutorial.jp/" %>の学習マッチングサイト製作を検討中です。
    </div>
    
    <div class="b_50"></div>


    <div class="page_index_title1 center-block">背景</div>
    <div class="di_inline_t page_index_left_content1">
        <div class="b_50"></div>
        <div class="page_index_left_content1_main">
            プログラミング教育サービスの費用が高い
        </div>
        現状、プログラミング教室は東京にあるのがほとんどです。
        そんな中で、地方の方が上京してサービスを受けるのは、金銭的にも時間的にも負担の大きいものになっています。
        
        プログラミング学習に置いて、最も重要なのは、「自学する」ということです。
        プログラミング教室はマンツーマン or 1対多の学習スタイルであります。
        
        そこに人件費がかけられ、学習費用が高額になってしまっているという状態です。
        より安価に局所的に教えてもらえるサービスが存在すれば、学ぶ側も教える側も効率的に幸せになれると考えました。
    </div>
    <div class="di_inline_t page_index_right_content1"></div>

    <div class="b_50"></div>
    
    <div class="page_index_title1 center-block">事業概要</div>
    <div class="di_inline_t page_index_left_content1">
        <div class="b_50"></div>
        <div class="page_index_left_content1_main">
            個人のエンジニアと初心者をマッチング
        </div>
        教える人と教えられる人をマッチングします。
        教える人は個人の現役エンジニアです。教えられる人は個人のプログラミング初心者です。
        
        ポイントは、この2者の間には「教材」が存在することです。
        決済システムは、分割制です。
        
        金額は一律1万円です。
        コードレビューと質問回数は制限があります。
        期間は一ヶ月です。
        
        ユーザーは実名登録です。
    </div>
    <div class="di_inline_t page_index_right_content1"></div>
    
    <div class="b_50"></div>
    
    <div class="page_index_title1 center-block">リリース時期</div>
    <div class="di_inline_t page_index_left_content1">
        <div class="b_50"></div>
        <div class="page_index_left_content1_main">
            リリース時期は6月です。
        </div>
        テストマーケティングの結果次第で、早ければ6月、遅くとも7~8月中に
        サービスをリリース致します。
        
        ご質問、ご提案がいらっしゃる方は、下記アドレスまでご連絡ください。
        ご訪問ありがとうございました。
        
        sagae5.28rujeae@gmail.com
    </div>
    <div class="di_inline_t page_index_right_content1"></div>
    
    
    <div class="b_50"></div>
    <div class="b_50"></div>
</div>








<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91614507-1', 'auto');
  ga('send', 'pageview');

</script>