<title>ヘルプトップ | Ruppish【ラピッシュ】</title>
<div class="b_50"></div>
<div class="page_index_over center-block">
    <div class="page_index_title1 center-block">Ruppish</div>
    <div class="di_inline_t page_index_left_content1">
        <div class="b_50"></div>
        <div class="page_index_left_content1_main">
            Ruppishとは
        </div>
        <li><%= link_to "Ruppishへの思い", articles_ruppish_root_path %></li>
    </div>
    <div class="di_inline_t page_index_right_content1"></div>
</div>