
<div class="form align">
    <div class="jumbotron font">
        取得に成功しました！
    </div>
    
    取得した内容
    <div class="jumbotron padding height">
        <%= "<table>" + @if_crawl.encode("UTF-8") + "</table>" %>
    </div>
    
    プレビュー
    <div class="jumbotron">
        <%= simple_format("<table>" + @if_crawl.encode("UTF-8") + "</table>") %>
    </div>
    
    プレビュー2
        <%= "<table>#{@if_crawl.encode("UTF-8")}</table>".html_safe %>
</div>