<%= simple_form_for(@post) do |f| %>
        <div class="form-group">
          <div id='editor'>
                  <textarea name="post[content]" id="n" class="form-control" rows="20" v-model='input' debounce='50'></textarea>
                <div class="di_inline_t preview">
                  <div v-html='input | marked' style: :"width: 650px;"></div>
                </div>
          </div>
        </div>
    <%= f.submit %>
<% end %>

<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @post.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>